body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    color: red;
}
.container h1{
    color: lightskyblue;
    font-size: 25px;
}
.password-container {
    margin-top: 20px;
    font-size: 25px;
}
button {
    --c:  #ff0000;
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    transition: background-size .4s, background-position 0s .4s;
    font-size: 25px;
    color: blue;
}
button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}